# React
node_modules/
dist/
build/

# Env files
.env

# Python
__pycache__/
*.pyc

# Django
db.sqlite3

# Media (optional)
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/
.venv/