@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-image: url('/bg.png');
  background-repeat: repeat;
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}